<h1>The Grid</h1>
<div id="rows"></div>
<div id="squares"></div>
<div id="victories"></div>
<button id="new-game">New Game/Reset</button>

<!--<button id="create-square">create square</button>
<button id="create-row">create row</button>-->
Height<input id="height" type="range" min="3" max="10" value="1" />

Width<input id="width" type="range" min="3" max="10" value="1" />

<select id="variant">
    <option value="rowAndColumn" id="option">rowAndColumn</option>
    <option value="cardinalNeighbors" id="option">cardinalNeighbors</option>
    <option value="diagonalNeighbors" id="option">diagonalNeighbors</option>
    <option value="simpleClick" id="option">simpleClick</option>
</select>
